body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
#m1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#m2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#news-container{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2e061f;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}